name: Deploy latest webMe

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: [self-hosted, linux, X64]
    permissions:
      contents: read
      packages: write
      
    steps:
      - name: Pull latest code
        uses: actions/checkout@v4

      - name: Update container with docker compose
        run: docker compose -f ~/actions-runner/_work/webMe/webMe/docker-compose.yml up -d --build